*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

  .cat-head{
    text-align: center;
    color: orange;
    margin: 40px 0;
  }

 
  .cat-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
  }

  .link-style{
    display: inline;
    text-decoration: none;
    margin: 10px;
    color: black;
  }
  .card{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    overflow: hidden;
  }
  .card img{
    display: block;
    width: 100%;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  .price-rate{
    display: flex;
    justify-content: space-between;
  }
  .pro-name{
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p{
    margin: 5px;
  }
  .rate, .price{
    display: flex;
  }
  @media screen and (max-width: 740px){
   
    .cat-head{
      margin: 20px 0;
    }
    .card{
      height: 150px;
      width: 150px;
    }
    .card img{
      display: block;
      width: 100%;
      height: 90px;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
  
    }
    .pro-name{
      font-size: 12px;
    }
 
  
    .price, .rate{
      font-size: 10px;
    }
  }
  