*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h2{
    text-align: center;
  }
  /* image slider */
  .img-size{
    height: 350px;
    width: 100%;
  }
  #slider li{
    height: 5px;
    width: 5px;
    padding: 5px;
    margin-left: 20px;
    border-radius: 50%;
    border:2px solid orange;
  }
  #slider .active{
    transition: 1s;
    background-color: orange !important;
  }
  .deal-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: 3s;
  }
  
  /* Product card */ 
  .link-style{
    display: inline-block;
    margin: 10px;
    height: 400px;
    width: 300px;
    color: black;
  }
  .link-style:hover{
    text-decoration: none;
    color: black;
  }
  .card{
    display: flex;
    height: 400px;
    width: 300px;
    overflow: hidden;
  }
  .price-rate{
    display: flex;
    justify-content: space-between;
  }
  .pro-name{
    margin: 5px;
    font-size: 16px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p{
    margin: 5px;
  }

  /* Product category wise */
  .cat-head{
    margin: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }
  .cat-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  /* testimonial */
  .row{
    justify-content: center;
  }
  .testimonial-box{
    border: 3px solid orange;
    box-shadow: 1px 1px 5px orange;
    text-align: center;
    height: 400px;
    width: 400px;
    gap: 50px;
  }
  .testimonial{
    margin: 5%;
  }
  .testimonial p{
    font-size: 18px;
    font-weight: 200;
  }
  .line{
    border: 1px solid orange;
    width: 60%;
    height: 2px;
    margin-left: 20%;
  }
 
  .testimonial-person{
    margin: 5%;
  }
  .testimonial-person img{
    width: 120px;
    height: 130px;
    border-radius: 45%;
  }
  .testimonial-person p{
    font-weight: 1000;
    margin: 5% 0;
  }
 .fa-quote-left{
  color: orange;
  font-size: 42px;
  position: absolute;
  top: 10px;
  left: 20px;
 }
 .fa-quote-right{
  color: orange;
  font-size: 42px;
  position: absolute;
  left: 370px;
  top: 150px;
 }
